// $cyanBlue: hsl(180, 62%, 55%);
// $red: hsl(0, 78%, 62%);
// $blue: hsl(212, 86%, 64%);
// $orange: hsl(34, 97%, 64%);

$primary-color: #000;
$secondary-color: #F8CC75;

$grayishBlue: hsl(229, 6%, 66%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body {
    background-color: rgba($primary-color, 0.7);
}

@mixin Flex_Center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin transition-ease {
    transition: all 0.4s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}